<body class="bg-mainBackground h-screen flex flex-col items-center justify-center">
  <h1 class="font-extrabold text-5xl mb-5 text-mainSmallBackground">URL Shortener</h1>
    <div class="bg-mainSmallBackground p-8 rounded w-full max-w-md mb-5">
      <form [formGroup]="urlForm" (ngSubmit)="shorten()">
        <div class="mb-4">
          <label class="font-extrabold text-mainDark text-sm mb-2">Enter your URL:</label>
          <input type="url" formControlName="originalUrl" placeholder="https://github.com/" class="w-full px-3 py-2 rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <div class="mb-4">
          <label class="block text-mainDark text-sm font-extrabold">Choose expiration date:</label>
          <input type="date" formControlName="expirationDate" class="w-full px-3 py-2 rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <button class="font-extrabold bg-bl bg-mainBackground text-mainSmallBackground text-mainDark px-4 py-2 rounded-md focus:outline-none focus:shadow-outline-blue transform transition-transform hover:scale-105">Shorten</button>
      </form>
    </div>
  <div class="bg-mainSmallBackground p-8 rounded w-full max-w-md">
    <h2 class="font-extrabold text-mainDark text-2xl mb-5">Your shortened URL:</h2>
    @if (this.shortenedUrl) {
      <input class="w-full px-3 py-2 rounded-md focus:outline-none focus:border-blue-500" readonly value="{{this.shortenedUrl}}">
    } @else {
      <input class="w-full px-3 py-2 rounded-md focus:outline-none focus:border-blue-500" readonly>
    }
  </div>
  <a href="https://github.com/confusedGustas" class="text-mainDark font-extrabold text-2xl text-mainSmallBackground mt-2 focus:outline-none focus:shadow-outline-blue transform transition-transform hover:scale-105" target="_blank" rel="noopener noreferrer">Github</a>
</body>
